body {
  background-color: #0e131a;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 0%;
  margin: 1vw;
  opacity:0;
}

/* BARINFO section */

.barinfo {
  grid-area: barinfo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#barname {
  color: #ffffff;
}

/* QUEUE section*/

.queue {
  grid-area: queue;
}


/* BARTENDERS section*/
.bartenders {
  grid-area: bartenders;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.bticon{
  -webkit-filter: invert(95%);
  display: none;
  width: 80%;
  margin-bottom: 20px;
}


#myChart {
  pointer-events: none;
}

.donutcontainer {
  position: relative;
  height: 30vh;
  width: 30vw;
}

/* STORAGE section */
.storage{
  grid-area: storage;
}

#myChart2{
  height: 200px;
  width: 700px;
}

/* BEERINFO section */

.beerinfo {
  grid-area: beerinfo;
}

.beerinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0e131a;
  padding-top: 0px;
  padding-bottom: 0px;
}

.beerinfo>div {
  width: 29%;
  height: 200px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.beerlevel {
  background-color: #953852;
  width: 2px;
  height: 5px;
  display: flex;
  transition: all 3s ease-in;
  border-radius: 0px;
  padding: 0px;
}


#myBtn {
  /* border-image: linear-gradient(to left, #743ad5 0%, #d53a9d 100%);*/
  border-image-slice: 1;
  border-width: 4px;
  color: white;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  background-color: transparent;
  border-radius: 2vw;
  line-height: 2;
  border: 4px solid #b966d6;
  /* just to show box-shadow still works fine */
  box-shadow: 0 3px 9px black, inset 0 0 9px #b966d6;
}

/* GRIDS */
.grid-container {
  display: grid;
  grid-template-areas: 'barinfo queue queue queue bartenders bartenders' 'storage storage storage storage bartenders bartenders' 'beerinfo beerinfo beerinfo beerinfo bartenders bartenders' 'beerinfo beerinfo beerinfo beerinfo bartenders bartenders' 'beerinfo beerinfo beerinfo beerinfo bartenders bartenders';
  grid-gap: 10px;
  padding: 10px;
  background-color: #0e131a;
  grid-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;}


div {
  padding: 20px 0;
  background: #252c35;
  border-radius: 15px;
}

div:not(.beerinfo):not(.beerinfosectioncontainer) {
  padding: 1em;
}

/* POP UP window (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* POP UP Content */

.modal-content {
  margin: auto;
  margin-top: 4em;
  padding: 20px;
  width: 80%;
}

.readmore{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: title title texti texti;

}

.title{
  justify-self: center;
}

.beerlabel{
  max-width:20%;
}

/* The Close Button */

.close {
  color: rgb(238, 96, 156);
  /* Chrome10-25,Safari5.1-6 */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(185, 102, 214);
  text-decoration: none;
  cursor: pointer;
}