
body {
  background-color: #0e131a;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 0%;
  margin: 1vw;
  opacity:0;
}
/* BARINFO section */

.barinfo {
  grid-area: barinfo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}

#barname {
  color: #ffffff;
}

.smallicons{
  width: 2em;
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
  }
@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
}

25% {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

60% {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

100% {
  -webkit-transform: scale(1);
  transform: scale(1);
}
}

/* QUEUE section*/

.queue {
  grid-area: queue;
}


/* BARTENDERS section*/
.bartenders {
  grid-area: bartenders;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.bticon{
  -webkit-filter: invert(95%);
  display: none;
  width: 3em;
  margin-bottom: 20px;
}


#myChart, #myChart2 {
  pointer-events: none;
}

.donutcontainer {
  position: relative;
  height: 30vh;
  width: 30vw;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* STORAGE section */
.storage{
  grid-area: storage;
  width: 600px;
}

.sell{
  grid-area: sell;
  width: 300px;
}

#myChart2{
  height: 200px;
  width: 700px;
}

/* BEERINFO section */

.beerinfo {
  grid-area: beerinfo;
}

.beerinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0e131a;
  padding-top: 0px;
  padding-bottom: 0px;
}

.beerinfo>div {
  width: 29%;
  height: 200px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.beerlevel {
  background-color: #953852;
  width: 2px;
  height: 5px;
  display: flex;
  transition: all 3s ease-in;
  border-radius: 0px;
  padding: 0px;
}


#myBtn {
  border-image-slice: 1;
  border-width: 4px;
  color: white;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  background-color: transparent;
  border-radius: 2vw;
  line-height: 2;
  border: 4px solid #b966d6;
  /* just to show box-shadow still works fine */
  box-shadow: 0 3px 3px black, inset 0 0 20px #A930F1;
}

/* GRIDS */
.grid-container {
  display: grid;
  grid-template-areas: 'barinfo queue queue queue bartenders bartenders' 'storage storage sell sell bartenders bartenders' 'beerinfo beerinfo beerinfo beerinfo bartenders bartenders' 'beerinfo beerinfo beerinfo beerinfo bartenders bartenders' 'beerinfo beerinfo beerinfo beerinfo bartenders bartenders';
  grid-gap: 10px;
  padding: 10px;
  background-color: #0e131a;
  grid-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;}


div {
  padding: 20px 0;
  background: #252c35;
  border-radius: 15px;
}

div:not(.beerinfo):not(.beerinfosectioncontainer) {
  padding: 1em;
}

/* POP UP window (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* POP UP Content */

.modal-content {
  margin: auto;
  margin-top: 4em;
  padding: 20px;
  width: 80%;
}

.readmore{
  text-align: center;
  display:grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:  title texti texti texti;

}
.texti{
  font-size: 14px;
}
.title{
  justify-self: center;
  font-size: 1em;
}

.beerlabel{
  max-width:30%;
  margin: 2em;
  float: left;
}

/* The Close Button */

.close {
  color: rgb(238, 96, 156);
  /* Chrome10-25,Safari5.1-6 */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(185, 102, 214);
  text-decoration: none;
  cursor: pointer;
}

#chartdiv {
	width		: 100%;
	height		: 200px;
	font-size	: 11px;
}

.sc-gauge  { width:200px; height:200px; margin:200px auto; }
.sc-background { position:relative; height:100px; margin-bottom:10px; background-color:#fff; border-radius:120px 120px 0 0; overflow:hidden; text-align:center; }
.sc-mask { position:absolute; top:20px; right:20px; left:20px; height:80px; border-radius:150px 150px 0 0 }
.sc-percentage { position:absolute; top:100px; left:-200%; width:400%; height:400%; margin-left:100px; background-color:#00aeef; }
.sc-percentage { transform:rotate(158deg); transform-origin:top center; }
.sc-min { float:left; }
.sc-max { float:right; }
.sc-value { position:absolute; top:50%; left:0; width:100%;  font-size:48px; font-weight:700 }